<div class=container>
<p id="notice"><%= notice %></p>
<div class="plswork">
<h1 class="headline">What is this website?</h1>
<p class="tagline">This is Recipea! It's a site to store recipes. Want to add your own recipe? Click the button below!</p>

<%= link_to 'Add a Recipe', new_recipe_path, {:class => "newrecipeb"} %>
</div>
<h1 class="recipetitle">Recipes</h1>
<div class="row">
    <% @recipes.each do |recipe| %>
<div class="col-md-4">
      <div class="recipe-box bg-dark">
        <% if recipe.image? %>
        <%= link_to (image_tag recipe.image.url, class: "recipe-index"), recipe %>
        <% end %>
        <ul class="bg-dark">
        <li><%= recipe.title %></li>
        <li><%= recipe.description %></li>
        <li><%= link_to 'View', recipe %> |
        <%= link_to 'Edit', edit_recipe_path(recipe) %> |
        <%= link_to 'Delete Recipe', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
  </div>
    <% end %>

</div><!--row-->
<div class="backgroundcolor">
  </div>


<%= link_to 'Add a Recipe', new_recipe_path %>
</div>
