<!DOCTYPE html>
<html>
  <head>
<%= favicon_link_tag asset_path('favicon.png') %>
    <title>Recipea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <%=  link_to image_tag("recipeafinal.png", class:"logoimage") , root_path %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav navbar-right navelement">
      <li class="navbarelement"><%= link_to "Home", root_path %>
      <li><%= link_to "About", pages_about_path %></li>

    </ul>
  </div>
</nav>
  <body>
    <%= yield %>
  </body>
</html>
